[Unit]
Description=Zenith Auto-Deploy Timer
Requires=zenith-deploy.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
AccuracySec=1min

[Install]
WantedBy=timers.target
